<div class="p-d-flex">
  <div class="p-jc-center">
    <div class="p-ai-center">
      <div style="width: 500px" class="p-d-inline-flex">
        <p-card  class="p-d-flex p-jc-center">
          <div class="p-d-flex p-flex-column">
            <div class="p-fluid mb-3" >
              <span class="p-input-icon-left">
                <i class="pi pi-send"></i>
                <input type="text"  class="p-d-block" pInputText placeholder="E-mail">
              </span>
            </div>
            <div class="p-fluid mb-3">
              <span class="p-input-icon-left">
                <i class="pi pi-key"></i>
                <input type="text" class="p-d-block" pInputText placeholder="Senha">
              </span>
            </div>
            <div class="p-fluid">
              <p-button label="Entrar" icon="pi pi-check" class="p-button-sm" ></p-button>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>

<!--
    <div class="box-flex">
        <div class="formFlex">

          <div class="flexForm">
             <h1>Bem Vindo!</h1>
         </div>

        <div class="p-fluid p-formgrid p-grid">

            <span  class="p-float-label">

               <i class="pi pi-pencil"></i>
               <input type="text" id="email-input" pInputText placeholder="E-mail" >
                <label for="email-input"></label>

          </span>
          <div class="p-field">
            <span class="p-input-icon-left">
              <i class="pi pi-lock"></i>
              <input type="text" pInputText placeholder="Senha">
            </span>
          </div>
          <div class="p-field mt-2">
            <div class="p-fluid">
            <button class="button" >Entrar</button>
          </div>
          </div>
      </div>
       </div>

    </div> -->
