
  <form class="box" action="">

    <div class="box-flex">
      <div class="card shadow">

        <div class="formFlex">

         <div class="flexForm">
             <h1>Bem Vindo!</h1>
         </div>

        <div class="flexForm">
          <div class="p-fluid">
            <div class="p-field">
             <span class="p-input-icon-left">
                <i class="pi pi-pencil"></i>
                <input class="p-inputtext-lg" id="float-input" type="text" pInputText placeholder="Codigo" >
            </span>
          </div>
         </div>
        </div>

        <div class="flexForm">
          <div class="p-fluid">
          <div class="p-field">
            <span class="p-input-icon-left">
              <i class="pi pi-lock"></i>
              <input class="p-inputtext-lg" id="float-input" type="text" pInputText placeholder="Senha">
            </span>
           </div>
          </div>
        </div>

        <div class="flexForm">
          <div class="p-field">
            <div class="p-fluid">
            <button class="button">Entrar</button>
          </div>
        </div>
      </div>
       </div>

        </div>
        </div>
  </form>




